.App {

    width: 1440px;
    height: 3040px;
    background-color: white;
    font-family: 'Poppins', sans-serif;

    .header-vtex {
        height: 144px;
        width: 1280px;
        margin: auto;


        .topo {
            height: 40px;
            width: 100%;
            background-color: white;

            ol {
                list-style-type: none;
                padding-top: 5px;
                margin: 0;

            }

            ol li {

                display: inline;
                margin-left: 166px;
                color: #9F9F9F;
                size: 20px;


            }

            .img-topo {
                width: 20px;
                height: 20px;



            }



        }

        .centro-header {
            height: 64px;
            width: 100%;
            background-color: white;
            display: flex;

            .logo-img {
                width: 139px;
                height: 50.64px;
                margin-left: 40px;
                margin-top: 8px;
                cursor: pointer;

            }

            .search {
                width: 657px;
                height: 48px;
                border-radius: 10px;
                margin-left: 120px;
                background-color: #F6F5F2;
                border: 1px solid #F6F5F2;
                margin-top: 5px;
                cursor: pointer;

            }

            .lupa-img {
                width: 28px;
                height: 28px;
                margin-left: -50px;
                margin-top: 15px;
                cursor: pointer;


            }

            .present-img {
                width: 24px;
                height: 24px;
                margin-left: 90px;
                margin-top: 18px;
                cursor: pointer;
            }

            .menu-img {
                width: 32px;
                height: 32px;
                margin-top: 15px;
                margin-left: 18px;
                cursor: pointer;
            }




        }

        .menu {
            height: 40px;
            width: 1280px;
            background-color: white;
            margin-top: 1px;


            ol {
                list-style-type: none;
                padding-top: 5px;
                margin: 0;

            }

            ol li {
                display: inline;
                margin-left: 85px;
                color: #9F9F9F;
                size: 18px;
                cursor: pointer;


            }



        }


    }

    .main-vtex {
        width: 1443px;
        height: 2500px;
        background-color: #FFFFFF;

        .banner-img {
            width: 1443px;
            height: 395px;
            cursor: pointer;
        }


        .opcoes {
            width: 1277px;
            height: 174px;
            margin: auto;
            display: flex;
            margin-top: 34px;

            .caixa-opcoes {
                width: 128px;
                height: 175px;
                background-color: white;
                margin-left: 47px;


                .caixa-img {
                    width: 128px;
                    height: 128px;
                    background-color: #F4F4F4;
                    border-radius: 10px;
                    border: solid 1px #00000021;
                    cursor: pointer;

                }


                .titulo-opcoes {
                    color: #4E4E4E;
                    font-size: 16px;
                    font-family: Poppins, sans-serif;
                    font-weight: 500;
                    text-align: center;
                    cursor: pointer;
                }

                .img-opcoes {
                    width: 61px;
                    height: 63px;
                    margin-top: 31px;
                    margin-left: 35px;

                }


            }
        }

        .produtosRelacionados {
            width: 1264px;
            height: 86px;

            margin-top: 39px;
            margin: auto;

            .caixa-titulo-produto {
                width: 1264px;
                height: 49px;
                background-color: white;
            }

            .caixa-produtos {
                width: 1264px;
                height: 37px;
                display: flex;


                .nome-produtos {
                    width: 210.6666666667px;
                    height: 37px;
                    border: 1px solid black;


                    p{
                       font-family: Poppins, sans-serif;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 16px;
                        text-align: center;
                        color: #3B3B3B;
                         margin-top: 10px;
                        
                    }
                }

            }

        }

        .cardProdutos {
            width: 1266px;
            height: 500px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            cursor: pointer;

        }






    }

    .card-slider {

        gap: 20px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;

    }

    .card {
        background-color: white;
        border: 1px solid #00000038;
        border-radius: 10px;
        padding: 10px;






        img {
            width: 247px;
            height: 228px;
            margin: auto;

        }

        h3 {
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            text-align: left;

        }

        p {
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            font-weight: 300;
            line-height: 22.5px;
            text-align: left;

        }

    }

    .btn-comprar {
        width: 245px;
        height: 44px;
        background-color: #F71963;
        border-radius: 4px;
        cursor: pointer;
        margin: auto;

        p {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            font-weight: 700;
            padding-top: 10px;
            text-align: center;
            color: #FFFFFF;
        }

    }

    .card-slider-container {
        position: relative;
    }

    .parceiros {
        width: 1266px;
        height: 350px;
        margin-top: 71px;
        margin: auto;
        display: flex;


        .cardParceiro {
            width: 574px;
            height: 350px;
            cursor: pointer;
            border-radius: 10px;
        }
    }

    .tituloProdutosRelacionados {
        width: 1138px;
        height: 72px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px; 


        .texto {
            color: #F71963;
            text-align: center;
            font-family: 'Poppins', sans-serif;
            font-size: 30px;
            font-weight: 700;


          }
          
          .linha {
            width: 360px;
            height: 0px;
            border: 1px solid #DEDEDE;
          }


    }



    .caixaProdutosRelacionados {
        width: 1300px;
        height: 310px;
        display: flex;
        margin-top: 61px;
        margin-left: auto;
        margin-right: auto;




        .cardProdutosRelacionados {
            width: 589.73px;
            height: 284px;
            border-radius: 10px;


            img {
                width: 589.73px;
                height: 284px;
                border-radius: 10px;
                cursor: pointer;
            }
        }




    }

    .tituloNavegueMarcas {
        width: 1250px;
        height: 331px;

        margin-top: 65px;
        margin-left: auto;
        margin-right: auto;

        h3 {
            font-family: 'Poppins', sans-serif;
            font-size: 30px;
            font-weight: 700;
            line-height: 45px;
            text-align: center;
            color: #F71963;



        }





    }


    .footer {
        width: 1442px;
        height: 395px;
        background-color: #2A2A2A;

        .footerConteudo {
            width: 1442px;
            height: 325px;
            font-family: 'Poppins', sans-serif;
            display: flex;
            justify-content: space-between;
            padding-top: 30px;
            display: flex;
            justify-content: flex-start;
            gap: 60px;


            .sobreNos {
                width: 149px;
                height: 224px;
                margin-left: 150px;



                h2 {
                    font-family: 'Poppins', sans-serif;
                    font-size: 12px;
                    font-weight: 300;
                    text-align: left;
                    color: #FFFFFF;

                }

                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;

                    li {
                        font-size: 14px;
                        font-family: 'Poppins', sans-serif;
                        font-size: 12px;
                        font-weight: 300;
                        line-height: 32px;
                        text-align: left;
                        color: #FFFFFF;



                    }
                }


                img {
                    margin-top: 40px;
                }


            }

            .informacoesUteis {
                width: 150px;
                height: 236px;
                box-sizing: border-box;
                font-family: 'Poppins', sans-serif;

                h2 {
                    font-family: 'Poppins', sans-serif;
                    font-size: 12px;
                    font-weight: 300;
                    text-align: left;
                    color: #FFFFFF;

                }

                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;

                    li {
                        font-size: 14px;
                        font-family: 'Poppins', sans-serif;
                        font-size: 12px;
                        font-weight: 300;
                        line-height: 32px;
                        text-align: left;
                        color: #FFFFFF;



                    }
                }



            }



            .formasPagamento {
                width: 195px;
                height: 192px;

                h3 {
                    font-family: 'Poppins', sans-serif;
                    font-size: 13px;
                    font-weight: 700;
                    text-align: left;
                    color: #FFFFFF;


                }



            }



        }

        .caixaFaleConosco {
            width: 380px;
            height: 260px;
            background-color: #F4F4F4;
            margin-left: 140px;
            border-radius: 10px;


            p {
                font-size: 18px;
                font-weight: 300;
                text-align: center;
                text-transform: uppercase;
                margin-top: 40px;



            }

            h3 {
                font-size: 18px;
                text-align: center;
                text-transform: uppercase;
                margin-top: -17px;

            }

            label {
                font-size: 12px;
                font-weight: 300;
                margin-left: 20px;
                text-transform: uppercase;


            }


            .caixaInput {
                width: 292px;
                margin-left: auto;
                margin-right: auto;
                gap: 10px;
                display: flex;
                margin-top: 17px;

            }

            .input-novidades {
                width: 230px;
                height: 45px;
                border-radius: 4px;
                border: 1px solid #2A2A2A;
                opacity: 0px;
                padding-left: 10px;

            }

            .btnOK {
                width: 62px;
                height: 45px;
                border-radius: 4px;
                background-color: #F71963;


                p {
                    font-family: 'Poppins', sans-serif;
                    font-size: 14px;
                    font-weight: 700;
                    text-align: center;
                    color: white;
                    margin-top: 14px;


                }
            }
        }

        .rodaPe {
            width: 1442px;
            height: 70px;
            font-family: 'Poppins', sans-serif;
            display: flex;
            background-color: #2A2A2A;



            .texto {
                width: 698px;
                height: 26px;
                margin-left: 150px;
                margin-top: 15px;




                p {
                    font-family: 'Poppins', sans-serif;
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 13px;
                    text-align: left;
                    color: #FFFFFF;



                }



            }

            .logoRodaPe {
                width: 226.08px;
                height: 32px;
                margin-left: 250px;
                margin-top: 20px;


            }


        }


    }

}